* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font: 62.5% "Lucida Grande", Lucida, Verdana, sans-serif;
}

code {
	font: 1em "Courier New", Courier, mono;
}

h1 {
	padding: 0.25em;
	margin: 0;
	margin-bottom: 1em;
	background: gray;
	color: white;
}

dl {
	padding: 2em;
}
dt {
	font-weight: bold;
	margin: 0.5em;
	margin-top: 1em;
}
dd {
	padding-left: 2em;
}

.popup {
	padding-right: 25px;
	background: transparent url(images/popup.png) no-repeat right center;
}